<div id="searchbar" class="d-flex justify-content-end gap-1 w-100">
    <input id="searchbar-input" class="w-50" type="text" placeholder="Search for album, artist or track...">
    <button class="btn btn-primary bg-overlay">
        <i class="bi bi-search"/>
    </button>
</div>
