@using WebUI.Components.Common.Logo
@using WebUI.Components.Common.Searchbar
@using WebUI.Components.Common.User
<header class="d-flex align-items-center justify-content-between bg-base px-3 py-3">
    <Logo/>
    <div class="d-flex align-items-center justify-content-end gap-2 w-100">
        <SearchBar/>
        <UserButton/>
    </div>
</header>